In [9]:
import pandas as pd
import time #tiempo de procesamiento
import time
start_time = time.time()
print("--- %s seconds ---" % (time.time() - start_time))

--- 6.008148193359375e-05 seconds ---

In [10]:
start_time = time.time()
print("--- %s seconds ---" % (time.time() - start_time))
name_basics = pd.read_csv('name.basics.tsv', sep='\t',low_memory=False)
title_akas = pd.read_csv('title.akas.tsv', sep='\t',low_memory=False)
title_basics = pd.read_csv('title.basics.tsv', sep='\t',low_memory=False)
title_crew = pd.read_csv('title.crew.tsv', sep='\t',low_memory=False)
title_episode = pd.read_csv('title.episode.tsv', sep='\t',low_memory=False)
title_principals = pd.read_csv('title.principals.tsv', sep='\t',low_memory=False)
title_ratings = pd.read_csv('title.ratings.tsv', sep='\t',low_memory=False)
print("--- %s seconds ---" % (time.time() - start_time))

--- 8.082389831542969e-05 seconds ---
--- 235.24951076507568 seconds ---

In [11]:
title_basics.titleType.values

array(['short', 'short', 'short', ..., 'tvEpisode', 'short', 'tvEpisode'],
      dtype=object)

In [18]:
new_title_basics = title_basics[(title_basics.titleType != "tvEpisode")]
new_title_basics = new_title_basics[(new_title_basics.isAdult == "0")]

In [19]:
print(len(new_title_basics))
print(len(title_basics))
new_title_basics.head()

2113149
8913668

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [20]:
print(len(title_akas))
title_akas.head()

31922043

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [21]:
print(title_akas.columns)
title_akas.columns = ['tconst', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle']
print(title_akas.columns)

Index(['titleId', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle'],
      dtype='object')
Index(['tconst', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle'],
      dtype='object')

In [22]:
start_time = time.time()
title = pd.merge(new_title_basics,title_crew,on='tconst',how='inner')
print("--- %s seconds ---" % (time.time() - start_time))
title.head()

--- 12.032370805740356 seconds ---

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",nm0721526,\N
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",nm0721526,\N
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",nm0005690,\N

In [9]:
title.to_csv('title_final_outer.csv',sep=",")

In [23]:
print(len(title))
print(len(title_basics))
print(len(title_crew))

2112969
8913668
8925038

In [24]:
start_time = time.time()
title = pd.merge(title,title_ratings,on='tconst',how='inner')
print("--- %s seconds ---" % (time.time() - start_time))
title.head()

--- 2.2192530632019043 seconds ---

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.7,1879
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N,5.9,248
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",nm0721526,\N,6.5,1652
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",nm0721526,\N,5.8,161
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",nm0005690,\N,6.2,2476

In [25]:
print(len(title))
print(len(title_ratings))
title.to_csv('title_final_outer.tsv',sep="\t")

618452
1242221

In [26]:
start_time = time.time()
title = pd.merge(title,title_principals,on='tconst',how='inner')
print("--- %s seconds ---" % (time.time() - start_time))
title.head()

--- 33.36543893814087 seconds ---

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes,ordering,nconst,category,job,characters
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.7,1879,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.7,1879,2,nm0005690,director,\N,\N
2,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.7,1879,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N,5.9,248,1,nm0721526,director,\N,\N
4,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N,5.9,248,2,nm1335271,composer,\N,\N

In [27]:
print(len(title))
print(len(title_principals))
title.to_csv('title_final_outer.tsv',sep="\t")

4954361
50328961

In [28]:
start_time = time.time()
title = pd.merge(title,name_basics,on='nconst',how='inner')
print("--- %s seconds ---" % (time.time() - start_time))
title.head()

--- 24.105074882507324 seconds ---

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,...,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,...,1,nm1588970,self,\N,"[""Self""]",Carmencita,1868,1910,soundtrack,"tt0057728,tt0000001"
1,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,...,2,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
2,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",nm0005690,...,3,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
3,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short,nm0005690,...,1,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
4,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport","nm0005690,nm0374658",...,3,nm0005690,director,\N,\N,William K.L. Dickson,1860,1935,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"

In [15]:
print(len(title))
print(len(name_basics))
title.to_csv('title_final_outer.tsv',sep="\t")

58147706
11614244

In [29]:
start_time = time.time()
title = pd.merge(title,title_akas,on='tconst',how='inner')
print("--- %s seconds ---" % (time.time() - start_time))

--- 52.090015172958374 seconds ---

In [30]:
print(len(title))
print(len(title_akas))
title.to_csv('title_final_outer.tsv',sep="\t")

27382632
31922043

In [31]:
start_time = time.time()
title.to_csv('title_final_inner.csv',sep=",")
title.to_csv('title_final_inner.tsv',sep="\t")
print("--- %s seconds ---" % (time.time() - start_time))

--- 519.4271669387817 seconds ---

# Mergeado simplificado

In [ ]:
# Importar
start_time = time.time()
name_basics = pd.read_csv('name.basics.tsv', sep='\t',low_memory=False)
title_akas = pd.read_csv('title.akas.tsv', sep='\t',low_memory=False)
title_basics = pd.read_csv('title.basics.tsv', sep='\t',low_memory=False)
title_crew = pd.read_csv('title.crew.tsv', sep='\t',low_memory=False)
title_episode = pd.read_csv('title.episode.tsv', sep='\t',low_memory=False)
title_principals = pd.read_csv('title.principals.tsv', sep='\t',low_memory=False)
title_ratings = pd.read_csv('title.ratings.tsv', sep='\t',low_memory=False)
print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
# Quitar tvEpisode y peliculas para adultos
start_time = time.time()
new_title_basics = title_basics[(title_basics.titleType != "tvEpisode")]
new_title_basics = new_title_basics[(new_title_basics.isAdult == "0")]
print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
# Cambio a tconst de titleld en akas
start_time = time.time()
title_akas.columns = ['tconst', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle']
print("--- %s seconds ---" % (time.time() - start_time))

In [32]:
# Inner merges on tconst and nconst
start_time = time.time()
title = pd.merge(new_title_basics,title_crew,on='tconst',how='inner')
title = pd.merge(title,title_ratings,on='tconst',how='inner')
#title = pd.merge(title,title_principals,on='tconst',how='inner')
#title = pd.merge(title,name_basics,on='nconst',how='inner')
title = pd.merge(title,title_akas,on='tconst',how='inner')
print("--- %s seconds ---" % (time.time() - start_time))

--- 65.16449499130249 seconds ---

In [33]:
# Export as tsv or csv
start_time = time.time()
# title.to_csv('title_final_inner.csv',sep=",")
title.to_csv('rodri_title_final_inner.tsv',sep="\t")
print("--- %s seconds ---" % (time.time() - start_time))

--- 17.688527822494507 seconds ---

In [35]:
len(title)
title.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.7,1879,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.7,1879,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.7,1879,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.7,1879,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.7,1879,5,Карменсита,RU,\N,imdbDisplay,\N,0